ansible-runner
ansible-tower-cli
asgiref
awx
certifi
charset-normalizer
click
colorama
diff-match-patch
Django
django-import-export
django-rest-framework
django-restframework
django-tables2
djangorestframework
docutils
future
idna
libvirt-python
lockfile
numpy
oauthlib
packaging
pandas
pexpect
ptyprocess
pybitbucket
pyproj
python-daemon
python-dateutil
pytz
PyYAML
requests
requests-oauthlib
simplejson
six
sqlparse
tablib
tzdata
uritemplate
urllib3
voluptuous
xarray
