# systemd service file to run appmanager
# the venv is /opt/aapmanager/development/aapmgr/venv/bin


[Unit]
Description=AppManager Service
After=network.target

[Service]
WorkingDirectory=/opt/aapmanager/development/aapmgr
ExecStart=cd /opt/aapmanager/development/aapmgr && /venv/bin/python runserver 0.0.0.0:9990 
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target