  {% extends 'base.html' %}

  {% block title %}Server Settings{% endblock %}

  {% block content %}

      <h2>Server Configuration</h2>
      <form method="post">
          {% csrf_token %}
          <table>
              <tr>
                  <td>Application ID:</td>
                  <td><input type="text" name="appid" value="{{ server.appid }}"></td>
              </tr>
              <tr>
                  <td>Environment:</td>
                  <td><input type="text" name="environment" value="{{ server.environment }}"></td>
              </tr>
              <tr>
                  <td>OS:</td>
                  <td><input type="text" name="os" value="{{ server.os }}"></td>
              </tr>
              <tr>
                  <td>Version:</td>
                  <td><input type="text" name="os_version" value="{{ server.os_version }}"></td>
              </tr>
              <tr>
                  <td>Hostname:</td>
                  <td><input type="text" name="hostname" value="{{ server.hostname }}"></td>
              </tr>
              <tr>
                  <td>C-name:</td>
                  <td><input type="text" name="cname" value="{{ server.cname }}"></td>
              </tr>
              <tr>
                  <td>Description:</td>
                  <td><input type="text" name="description" value="{{ server.description }}"></td>
              </tr>
              <tr>
                  <td>Last patched:</td>
                  <td><input type="text" name="lastpatch" value="{{ server.lastpatch }}"></td>
              </tr>
              <tr>
                  <td>Last rebooted:</td>
                  <td><input type="text" name="lastboot" value="{{ server.lastboot }}"></td>
              </tr>
              <tr>
                  <td>Autopatch:</td>
                  <td><input type="checkbox" name="aap_autopatch" {% if server.aap_autopatch %}checked{% endif %}></td>
              </tr>
              <tr>
                  <td>Patch window:</td>
                  <td><input type="text" name="aap_patch_env" value="{{ server.aap_patch_env }}"> Batch <input type="text" name="aap_patch_batch" value="{{ server.aap_patch_batch }}">-<input type="text" name="aap_patch_patchtime" value="{{ server.aap_patch_patch
